*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main-div{
    display: flex;
    width: 600px;
    height: 300px;
    border: 2px solid black;
}
.box-1{
    width: 300px;
    flex-shrink: 1;
    background-color: rgb(55, 0, 255);
}
.box-2{
    width: 300px;
    flex-shrink: 2;
    background-color: rgb(255, 0, 98);
}
.box-3{
    width: 300px;
    flex-shrink: 0;
    background-color:green;
}