*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contact_section{
  box-shadow:  0 0 8px rgba(0, 0, 0, 0.1);
    background-image: url(/CSS_Final_Exam/Contact-Form/asset/images/jp_ce_contactform.jpg);
    background-position: center;
    background: transparent;  
    margin: auto;
    padding: 40px;
    margin-top: 100px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 700px;
    border-radius: 10px;
    margin-bottom: 160px;
}
 .contact-form{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
 }


 /* Base styling */
body {
    background-image: url(/rw_parth_kachariya_css_projects/PracticalTest-CSS3/Contact-Form/asset/images/bg-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  background-color: #d5d6d7;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contact-form h2 {
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.contact-form label {
  display:   block;
  margin-bottom: 6px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
  padding-left: 20px;
  font-size: 18px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 18px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  transition: background-color 0.3s ease;
  transform: translateY(0px);
  transition: 0.3s;
  
  /* transition: border-color 0.3s ease; */
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: none;
  outline: none;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transform: translateY(0px);
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: #005fa3;
  transition: background-color 0.3s ease;
  transform: translateY(-5px);
  transition: 0.3s transform;

}

.contact-form input:hover,
.contact-form textarea:hover{
  transition: background-color 0.3s ease;
  transform: translateY(-5px);
  transition: 0.3s transform;
}

h4{
  font-size: 13px;
  color: white;
  font-weight: bold;
  margin-top: 60px;
}