*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.maindiv{
    display: flex;
    height: 600px;
    /* width: 700px; */
    border: 2px solid black;
    
}
.box-1{
    height: 600px;
    width: 200px;
    border: 2px solid rgb(255, 0, 0);
    flex-grow: 1;
    background-color: yellowgreen;
}
.box-2{
    height: 600px;
    width: 200px;
    border: 2px solid rgb(255, 0, 0);
    /* flex-grow: 1; */
    background-color: rgb(0, 255, 17);
}
.box-3{
    height: 600px;
    width: 200px;
    border: 2px solid rgb(255, 0, 0);
    /* flex-grow: 1; */
    background-color: rgb(0, 0, 255);
}