/* tablet view */
@media (max-width: 992px) {
  .main_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    margin: auto;
  }

  .header {
    background-color: black;
    color: white;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .menu {
    background-color: red;
    color: white;
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .hero {
    background-color: skyblue;
    color: white;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .main {
    background-color: navy;
    color: white;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 6;
  }
  .image {
    background-color: rgba(0, 86, 152, 0.633);
    color: white;
    grid-row-start: 5;
    grid-column-start: 4;
    grid-column-end: 6;
  }

  .extra {
    background-color: rgba(0, 128, 0, 0.671);
    color: white;
    grid-row-start: 5;
    grid-column-start: 2;
    grid-column-end: 4;
  }
  .banner {
    background-color: rgba(202, 202, 4, 0.748);
    color: white;
    grid-row-start: 4;
    grid-column-start: 2;
    grid-column-end: 5;
  }
}
/* mobile view */
@media (max-width: 576px) {
  .main_box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 200px);
    margin: auto;
  }

  .header {
    background-color: black;
    color: white;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .menu {
    background-color: red;
    color: white;
    grid-row-start: 2;
    grid-column-start: 1;
  }
  .hero {
    background-color: skyblue;
    color: white;
    grid-row-start: 3;
    grid-column-start: 1;
  }
  .main {
    background-color: navy;
    color: white;
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .image {
    background-color: rgba(0, 86, 152, 0.633);
    color: white;
    grid-row-start: 7;
    grid-column-start: 1;
  }

  .extra {
    background-color: rgba(0, 128, 0, 0.671);
    color: white;
    grid-row-start: 6;
    grid-column-start: 1;
  }
  .banner {
    background-color: rgba(202, 202, 4, 0.748);
    color: white;
    grid-row-start: 5;
    grid-column-start: 1;
  }
}
