* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1400px;
  margin: auto;
}
.main_box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 200px);
  /* gap: 20px; */
}

.header {
  background-color: black;
  color: white;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  /* grid-row-end: 4; */
}
.menu {
  background-color: red;
  color: white;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 5;
}
.hero {
  background-color: skyblue;
  color: white;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 5;
}
.main {
  background-color: navy;
  color: white;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
.image {
  background-color: rgba(0, 86, 152, 0.633);
  color: white;
  grid-row-start: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}

.extra {
  background-color: rgba(0, 128, 0, 0.671);
  color: white;
  grid-row-start: 4;
  grid-column-start: 4;
  grid-column-end: 5;
}
.banner {
  background-color: rgba(202, 202, 4, 0.748);
  color: white;
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 5;
}
