*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    border: 2px solid black;
    width: 1500px;
    height: 200px;
}
.child-box{
    border: 2px solid red;
    width: 200px;
    height: 197px;
    background-color: lightblue;
}
.box:hover .child-box{
    background-color: lightgreen;
    border: 2px solid blue;
    font-size: 50px;
    color: rgb(255, 0, 0);
    transition: all 4s;
    transform: translate(1000px);
    transition-delay: 2s;
    transition-timing-function: ease;
     transition-timing-function: ease-in;
    transition-timing-function: ease-out;
      transition-timing-function: ease-in-out;
      transition-timing-function: steps(10);
    /* transition:5s transform linear;  */
     /* transition:transform 2s 5s linear; */
      transition-property: border font-size color transform;



   

}