/* sandbox responsive breakpoint */

/*

xs  >=480px
sm  >=576px
md  >=768px
lg  >=991px
xl  >=1199px
2xl >=1499px

*/

@media (max-width: 1499px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
  .mobile-btn {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .craft-text h1 {
    max-width: 600px;
    color: white;
    font-size: 38px;
    margin: auto;
  }

  .craft-sec {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
  }
  .container {
    max-width: 1556px;
    margin: auto;
    /* padding: 0 30px; */
    height: 100vh;
    /* margin-top: 45px; */
    height: 80px;
    width: 1230px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .socil-icon a  {
    font-size: 20px;
    padding-left: 15px;
    margin-top  : auto;
    flex-wrap: wrap;
   flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    
   
}
}

@media (max-width: 768px) {
  .craft-text h1 {
    max-width: 600px;
    color: white;
    font-size: 35px;
  }

  .container {
    max-width: 1556px;
    margin: auto;
    /* padding: 0 30px; */
    height: 100vh;
    /* margin-top: 45px; */
    height: 80px;
    width: 1230px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .socil-icon a  {
    
    font-size: 20px;
    padding-left: 15px;
    flex-wrap: wrap;
   flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    
   
}
}

@media (max-width: 576px) {
  .craft-text h1 {
    max-width: 600px;
    color: white;
    font-size: 33px;
  }

  .container {
    max-width: 1556px;
    margin: auto;
    /* padding: 0 30px; */
    height: 100vh;
    /* margin-top: 45px; */
    height: 80px;
    width: 1230px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .socil-icon a  {
    
    font-size: 20px;
    padding-left: 15px;
    flex-wrap: wrap;
   flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    
   
}
}

@media (max-width: 480px) {
  .mobile-btn {
    display: block;
  }
  .container {
    max-width: 1556px;
    margin: auto;
    /* padding: 0 30px; */
    height: 100vh;
    /* margin-top: 45px; */
    height: 80px;
    width: 1230px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .socil-icon a  {
    
    font-size: 20px;
    padding-left: 15px;
    flex-wrap: wrap;
   flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    
   
}
}
