/* Sandbox start /
    / Header start */

/* common css */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #f2f3fb;
}

ol,
ul {
  list-style-type: none;
  text-wrap: nowrap;
}

a {
  text-decoration: none;
}
.main_container {
  max-width: calc(100vw - 20vw);
  margin: auto;
  /* padding-inline: 20px; */
}

.container {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  max-width: 1556px;
  margin: 45px auto;
  height: 80px;
  width: 1230px;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-wrap: wrap;
  padding-inline: 20px;
}

.flex-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

/* main css */

.header-bg {
  margin: auto;
  background-size: cover;
  flex-wrap: wrap;
  background-color: #f2f3fb;
}
/* navbar start */
/* .navbar {
    padding: 20px;
    padding-right:0 ;

    } */

.nav-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 30px;
}
.flex-container li a {
  color: #343f52;
  font-size: calc(1.2vw - 1px);
  font-weight: bold;
  padding: 20px;
  text-wrap: nowrap;
}
.socil-icon a {
  font-size: 20px;
  flex-direction: column;
  margin-right: 10px;
  padding-left: 10px;
  flex-wrap: wrap;
}

.mobile-btn {
  position: sticky;
  display: none;
  color: rgb(0, 0, 0);
}

.mobile-btn span {
  margin-left: 20px;
  font-size: 30px;
}

/* smart section */

.craft-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.smart-container {
  padding: 50px 15px 160px 15px;
}

.craft-text {
  display: flex;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.craft-text h1 {
  display: flex;
  text-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #343f52;
  font-size: calc(2.5vw + 10px);
  margin-bottom: 20px;
}

.craft-text p {
  display: flex;
  text-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #60697b;
  font-size: 24px;
  margin-bottom: 50px;
  max-width: 800px;
  font-size: 24px;
  margin-bottom: 35px;
  padding: 0 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* flex-wrap: wrap; */
  text-wrap: nowrap;
}

.btn {
  padding: 15px 30px;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #6e6bc1;
  color: white;
  padding: 16px 32px;
  transform: translateY(0px);
  transition: 0.3s;
}

.btn-outline {
  background-color: transparent;
  color: #6e6bc1;
  border: 2px solid #8c89d4;
  transform: translateY(0px);
  transition: 0.3s;
}

.btn:hover {
  background-color: #6e6bc1;
  color: white;
  transform: translateY(-5px);
  transition: 0.3s transform;
}

.craft-img {
  height: 730px;
  width: 522px;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  object-fit: cover;
  max-width: 100%;
}

/* service section start  */
.box{
  margin-bottom: 160px;
}
/* service card start */
/* .service_main{
      padding: 100px 0px;
} */

.service_card_main {
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
   /* display: grid;
  grid-template-columns: repeat(2, 1fr);  */
}

.service_card:nth-child(even) {
  text-align: center;
  width: 292px;
  height: 319px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0px 0px 2px rgba(24, 23, 23, 0.507);
  /* margin: 20px 0; */
  background-color: white;
  /* padding: 0 20px; */
}
.service_card:nth-child(odd) {
  text-align: center;
  width: 292px;
  height: 279px;
  display: flex;
  flex-direction: column;
  display: flex;
  /* padding: 40px; */
  /* border-radius: 16px; */
  /* box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.507); */
  /* margin: 20px 0; */
  /* background-color: white; */
}
/* 
    .service-text {
        max-width: 700px;
        text-align: center;
        margin: auto;
    } */
.service_main{
  display: block;
      
}

.service_icon {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f78c822;
  border-radius: 100%;
  margin-inline: auto;
}

.service_icon i {
  color: #6a76e4;
  font-size: 22px;
}

.service_icon span {
  color: #6a76e4;
  font-size: 30px;
}

.service_icon img {
  height: 35px;
}

.service_card_text h4,
p {
  margin-bottom: 10px;
}

.service_card_text h4 {
  font-size: 20px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.775);
}

.service_card_text p {
  font-size: 17px;
  line-height: 29px;
  font-weight: 600;
  color: #60697b;
  margin-bottom: 10px;
}

.service_card_text a {
  font-weight: 600;
}

.service_card_text a i {
  font-size: 12px;
}

/* card-1 */
.service-img img {
  border-radius: 10px;
  width: 292px;
  /* height: 279px; */
  object-fit: cover;
}
.service_text {
  margin-top: 50px;
  margin-left: 108px;
  padding: 0 15px;
  max-height: 422px;
  max-width: 433px;
  text-align: left;
  text-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  display: flex;
}

.sandbox-h2 {
  font-size: 38px;
  color: #000000e1;
  margin-bottom: 20px;
  line-height: 38px;
  font-weight: bold;
  letter-spacing: -2px;
}

.subtitle {
  color: #60697b;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 33px;
  font-size: 19px;
  color: #000000c4;
  /* margin-bottom: 30px; */
  line-height: 1.6;
}

.description {
  /* font-size: 17px;
    color: #60697B;
    margin: 0px 0px 20px 0px;
   line-height: 29px; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.8;
  color: #6e7382;
  margin-bottom: 20px;
}
.button {
  margin-top: 15px;
  text-wrap: nowrap;
}

/*Community section start */

.community_main{
  width: 1290px;
  height: 342px;
  margin-bottom: 160px;
  display: flex;
}
.community{
  height: 264px;
  width: 507px;
  margin-top: 50px;
  padding: 0 15px;
}

.community_text{
  text-align: left;
  flex-direction: column;
  flex-wrap: wrap;
  text-wrap: wrap;
  display: flex;
 
}
.community_title{
  color: black;
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 15px;
  
}
.community_subtitle{
  font-size: 22px;
  color: rgba(0, 0, 0, 0.596);
  margin-bottom: 20px;
  line-height: 33px;
  font-weight: 500;
}
.community_description{
  font-size: 18px;
  color: #6e7382;
 line-height: 29px;
  margin-bottom: 20px;
}
/* detail section */

.detail{
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 615px;
  height: 292px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 15px;
  padding: 0  15px;
  margin-top: 50px;
  margin-left: 107px;
  position: relative;
}

/* box-1 */
.projects{
  width: 295px;
  height: 134px;
  padding: 30px;
  /* margin-top: 25px; */
  box-shadow: 0px 0px 3px rgba(7, 3, 3, 0.395);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.51);
  text-align: center;
  justify-content: center;

}
.projects h2{
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: 30px;
  letter-spacing: 2px;
}
.projects p{
  font-size: 17px;
  margin-left: 40px;
  color: #6e7382;
  margin-bottom: 10px;
  font-weight: bold;
  justify-content: left;
}
.projects i{
  flex-direction: column;
  text-wrap: wrap;
  flex-wrap: wrap;
  font-size: 20px;
  color: #5e6cea;
 height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f78c822;
  border-radius: 100%;
  margin-inline: auto;
  position: absolute;
    top: 65px;
    bottom: 0px;
    left: 35px;
  transform: translateY(-50%);
}

/* box-2 */
.customers{
  width: 295px;
  height: 134px;
  padding: 30px;
  /* margin-top: 25px; */
  box-shadow: 0px 0px 3px rgba(7, 3, 3, 0.395);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.51);
  text-align: center;
  justify-content: center;

}
.customers h2{
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: 30px;
  letter-spacing: 2px;
}
.customers p{
  font-size: 17px;
  margin-left: 40px;
  color: #6e7382;
  margin-bottom: 10px;
  font-weight: bold;
  justify-content: left;
}
.customers i{
  flex-direction: column;
  text-wrap: wrap;
  flex-wrap: wrap;
  font-size: 20px;
  color: red;
 height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.151);
  border-radius: 100%;
  margin-inline: auto;
  position: absolute;
  top: 65px;
    bottom: 0px;
    left: 350px;
  transform: translateY(-50%);
}

/* box-3 */
.employees{
  width: 295px;
  height: 134px;
  padding: 30px;
  /* margin-top: 25px; */
  box-shadow: 0px 0px 3px rgba(7, 3, 3, 0.395);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.51);
  text-align: center;
  justify-content: center;

}
.employees h2{
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: 30px;
  letter-spacing: 2px;
}
.employees p{
  font-size: 17px;
  margin-left: 40px;
  color: #6e7382;
  margin-bottom: 10px;
  font-weight: bold;
  justify-content: left;
}

.employees i{
  font-size: 20px;
  color: rgb(255, 68, 0);
 height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 166, 0, 0.293);
  border-radius: 100%;
  position: absolute;
      top: 225px;
    bottom: 0px;
    left: 35px; 
  transform: translateY(-50%);
  flex-direction: column;
  text-wrap: wrap;
  flex-wrap: wrap;
}

/* box-4 */
.awards{
  width: 295px;
  height: 134px;
  padding: 30px;
  /* margin-top: 25px; */
  box-shadow: 0px 0px 3px rgba(7, 3, 3, 0.395);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.51);
  text-align: center;
  justify-content: center;

}
.awards h2{
  font-size: 40px;
  margin-bottom: 5px;
  margin-left: 30px;
  letter-spacing: 2px;
}
.awards p{
  font-size: 17px;
  margin-left: 40px;
  color: #6e7382;
  margin-bottom: 10px;
  font-weight: bold;
  justify-content: left;
}
.awards i{
 
  flex-direction: column;
  text-wrap: wrap;
  flex-wrap: wrap;
  font-size: 20px;
  color: blue;
 height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 255, 0.21)  ;
  border-radius: 100%;
  position: absolute;
     top: 225px;
    bottom: 0px;
    left: 350px; 
  transform: translateY(-50%);

}
/*Our Recent Projects */

.recent_projects{
  
  object-fit: cover;
  padding-bottom: 90px;
  padding-left: 15px; 
    padding-right: 15px;
}
/* .main_container{

} */

.recent_title {
  font-size: 38px;
  color: rgb(52, 63, 82);
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

.recent_projects_img img {
    width: 610px;
    height: 441px;
    gap: 30px;
    border-radius: 10px;
    flex-wrap: wrap;
    object-fit: cover;
    flex-direction: column;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.recent_projects_img {
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects_icon{
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 10px;
  cursor: pointer;
  color: white;
    

}

.arrow_left{
  height: 50px;
  width: 50px;
  background-color: #747dd16b;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.arrow_right{
  height: 50px;
  width: 50px;
  background-color: #747ed1e6;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
}

/* Have Perfect Control start */

.perfect_control{
  max-width: 1360px;
  height: 550px;
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 50px; */
    gap: 50px;
}

.perfect_control_img img{
max-width: 650px;
height: 500px;
margin-top: 50px;
padding: 0 35px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.perfect_control_text{
  width: 495px;
  height: auto;
  /* padding: 0 35px; */
  /* margin-top: 50px; */
}
.perfect_heading{
  font-size: 38px;
  color: #000000a5;
  margin-bottom: 20px;
  /* line-height: 38px; */
  font-weight: bold;
  /* letter-spacing: 1px; */
}

.perfect_title{
  font-size: 22px;
  color: #60697bb6;
  margin-bottom: 20px;
  font-weight: 600;
}

.perfect_description{
  font-size: 18px;
  color: rgba(0, 0, 0, 0.622);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}

.tick_mark{
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between;  */
  /* display: grid; */
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 30px;
}

.tick_mark_1{
  display: flex;
      
}
.tick_mark_2{
  display: flex;
     
}
.tick_mark_3{
  display: flex;
  

}
.tick_mark_4{
  display: flex;
      
}

.tick_mark i {
  
  color: #6e6bc1;
  background-color: #6e6bc149;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 6px;
  
}